@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Barriecito&family=Borel&family=Caprasimo&family=Chewy&family=Concert+One&family=Gamja+Flower&family=Lexend+Deca:wght@300;400;500;600;700&family=Mansalva&family=Monoton&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&family=Paytone+One&family=Poiret+One&family=Righteous&family=Sansita+Swashed:wght@300&family=Vidaloka&family=Ysabeau+SC:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



#logo {
    font-family: 'Poiret One', cursive;
}
#teacherId {
    font-family: 'Poiret One', cursive;
}
#teacherLanguage {
    font-family: 'Montserrat', cursive;
}
#titleTeacherList {
font-family: 'Lexend Deca', cursive;
}